<div class="contact-items">
  {%- for block in section.blocks -%}
  	<div class="item">
      <span>{{ block.settings.title }}</span>
      {% if block.settings.content_link != blank %}
      	<a href="{{ block.settings.content_link }}">{{ block.settings.content }}</a>
      {%- else -%}
      	<span>{{ block.settings.content }}</span>
      {% endif %}
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Contact items",
    "settings": [],
	"blocks": [
      {
        "type": "text",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "Content"
          },
          {
            "type": "url",
            "id": "content_link",
            "label": "Link"
          }
        ]
      }
	],
	"presets": [
      {
        "category": "Text",
        "name": "Contact items",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
